.cardsContainer {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 20%);
    justify-content: center;
}

.cardsContainer>div:hover {
    cursor: pointer;
    transform: perspective(500px) rotateY(-4deg) rotateX(-4deg);
    transition: 0.5s all;
}

.cardsContainer .card {
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 1em;
    height: 250px;
    min-width: 150px;

    background-color: #f5f5f5;
    box-shadow: 1px 5px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.cardsContainer .card:first-child {
    grid-column-start: 2;
    grid-row-start: 2;
}

.card .cardImage {
    height: 80%;
}

.cardsContainer .card h1 {
    margin: 1em;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(45, 45, 45);
    text-align: center;
}

@media screen and (max-width: 768px) {


    .leftPane {
        display: none;
    }

    .rightPane {
        display: none;
    }

    .cardsContainer {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 500px) {


    .leftPane {
        display: none;
    }

    .rightPane {
        display: none;
    }

    .cardsContainer {
        grid-template-columns: 100%;
    }
}